body{
	background-color:#fff; 
	color:#555 ; 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ; 
	font-size: 16px;  
	line-height: 1.6em;  
	background-color: rgba(58, 58, 158, 0.8)/*rgba(136, 136, 206, 0.7)*/ ;
} 
#continer{
	width: 750px; 
	margin: auto; 
}

.head{
	text-align: center; 
	color: black;
} 
.head P{
	font-style: italic; 
	font-size: 18px;
} 

.main{
	border:2px solid #1b1b32 ; 
	background-color: #1b1b32; 
	color: white;  
	padding:40px;
}   
.name{
	padding: 10px;
}

.name label{
	display: block; 
	font-size: 20px; 
	padding-bottom: 5px;
} 
.name input{
	width: 600px; 
	padding: 10px;
	border-radius:9px; 
	border-bottom-color: white;

}



.email{
	padding: 10px;
}
.email label{
	display: block;
	font-size: 20px; 
	padding-bottom: 5px;
}  
.email input{
	width: 600px; 
	padding: 10px;
	border-radius:9px; 
	border-bottom-color: white;
}



.age{
	padding: 10px;
}
.age label{
	display: block; 
	font-size: 20px; 
	padding-bottom: 5px;
}
.age input{
	width: 600px; 
	padding: 10px;
	border-radius:9px; 
	border-bottom-color: white;
}



.role{
	padding: 10px; 
	font-size: 20px; 
	
}
.role label{
	display: block; 
	padding-bottom: 10px;
} 
.role select{
	width: 622px; 
	padding: 10px;
	border-radius:9px; 
	border-bottom-color: white;
}



.radio{
	font-size: 20px; 
	padding-top: 10px;
} 



.option{
	padding: 10px; 
	padding-top: 45px; 
	padding-bottom: 30px;
}
.option label{
	display: block; 
	font-size: 20px; 
	padding-bottom:10px;
}  
.option select{
	width: 622px; 
	padding: 10px;
	border-radius:9px; 
	border-bottom-color: white; 
}



.checkbox  label{
	font-size: 20px; 
	margin-bottom: 20px;
} 
.checkbox-1  input {
	padding: 2px;
    margin-right: 3px;
}
.checkbox-1 label{
	font-size: 20px; 
	margin-bottom: 10px;
}



.massage{
	padding: 10px; 
	padding-top: 40px;
} 
.massage input{
	padding-top:5px ;
}
.massage label{
	display: block; 
	font-size: 20px; 
	padding-bottom: 5px;
}
.massage textarea{
	width: 600px;  
	height: 70px;
	padding: 10px;
	border-bottom-color: white; 
} 



.button button{
	width: 630px; 
	margin-left:5px ;
	padding: 10px; 
	background-color:#37af65; 
	margin-top: 20px; 
	border-color: #37af65; 
	border-bottom-color: #37af65; 
	color: white; 
	font-size: 20px;
}